.h-13_5 {
  height: 108px;
}

.ml-9_5 {
  margin-left: 76px;
}

.mr-0 {
  padding-right: 0rem !important;
}
.pt-4 {
  padding-top: 32px;
}
.pb-3 {
  padding-bottom: 24px !important;
}
.mb-3 {
  margin-bottom: 24px;
}
.pt-5_5 {
  padding-top: 44px;
}
.mr-4 {
  margin-right: 32px;
}
.mr-6 {
  margin-right: 48px;
}
.mr-9_5 {
  margin-right: 76px;
}

.w-46_25 {
  width: 370px;
}
.h-12 {
  height: 96px;
}
.container {
  max-width: 1110px;
  padding-right: 0px;
  padding-left: 0px;
}
.mb-10 {
  margin-bottom: 80px;
}

.mb-20 {
  margin-bottom: 160px;
}
.layout__footer {
  height: 333px;
}

.ma-0 {
  margin: auto 0;
}

.pr-2_75 {
  padding-right: 22px;
}

.h-4_5 {
  height: 36px;
}

.w-4_5 {
  width: 36px;
}
.mb-3_75 {
  margin-bottom: 30px;
}
.pb-3_75 {
  padding-bottom: 30px;
}
.lh-1 {
  line-height: 1;
}

.mb-4_5 {
  margin-bottom: 36px;
}

.mb-5 {
  margin-bottom: 40px;
}
.pl-2 {
  padding-left: 16px;
}
.mt-12 {
  margin-top: 96px;
}

.mb-7_5 {
  margin-bottom: 60px;
}
.layout__fs-6 {
  font-size: 48px;
}
.layout__fs-4 {
  font-size: 32px;
}

.layout__fs-2_5 {
  font-size: 20px;
}

.layout__fs-2 {
  font-size: 16px;
}
.pl-11 {
  padding-left: 88px;
}
