$unit: 8px;
.layout__h-13_5 {
  height: $unit * 13.5;
}

.layout__ml-9_5 {
  margin-left: $unit * 9.5;
}

.layout__mr-0 {
  padding-right: 0rem !important;
}
.layout__pt-4 {
  padding-top: $unit * 4;
}
.layout__pb-3 {
  padding-bottom: $unit * 3 !important;
}
.layout__mb-3 {
  margin-bottom: $unit * 3;
}
.layout__fs-3 {
  font-size: $unit * 3;
}
.layout__mb-4 {
  margin-bottom: $unit * 4;
}
.layout__pt-5_5 {
  padding-top: $unit * 5.5;
}
.layout__mr-4 {
  margin-right: $unit * 4;
}
.layout__mr-1 {
  margin-right: $unit * 2;
}
.layout__ml-4 {
  margin-left: $unit * 4;
}
.layout__mr-6 {
  margin-right: $unit * 6;
}
.layout__mr-9_5 {
  margin-right: $unit * 9.5;
}

.layout__w-46_25 {
  width: $unit * 46.25;
}
.layout__w-5 {
  width: $unit * 5;
}
.layout__h-5 {
  height: $unit * 5;
}
.layout__h-12 {
  height: $unit * 12;
}

.layout__mb-10 {
  margin-bottom: $unit * 10;
}

.layout__mb-20 {
  margin-bottom: $unit * 20;
}
.layout__footer {
  height: 333px;
}

.layout__pr-2_75 {
  padding-right: $unit * 2.75;
}

.layout__h-4_5 {
  height: $unit * 4.5;
}

.layout__w-4_5 {
  width: $unit * 4.5;
}
.layout__mb-3_75 {
  margin-bottom: $unit * 3.75;
}
.layout__pb-3_75 {
  padding-bottom: $unit * 3.75;
}

.layout__lh-1 {
  line-height: 1;
}

.layout__mb-4_5 {
  margin-bottom: $unit * 4.5;
}

.layout__mb-5 {
  margin-bottom: $unit * 5;
}
.layout__pl-2 {
  padding-left: $unit * 2;
}

.layout__mr-2 {
  margin-right: $unit * 2;
}
.layout__mt-12 {
  margin-top: $unit * 12;
}

.layout__mb-7_5 {
  margin-bottom: $unit * 11.25;
}
.layout__fs-6 {
  font-size: $unit * 6;
}
.layout__fs-4 {
  font-size: $unit * 4;
}

.layout__fs-2_5 {
  font-size: $unit * 2.5;
}

.layout__fs-2 {
  font-size: $unit * 2;
}
.layout__fs-1_75 {
  font-size: $unit * 1.75;
}
.layout__pl-11 {
  padding-left: $unit * 11;
}

.layout__mt-4 {
  margin-top: $unit * 4;
}
.layout__w-37 {
  width: $unit * 37;
}

.layout__p-tb-1 {
  padding: $unit 0 $unit 0 !important;
}
.layout__mb-1_6 {
  margin-bottom: $unit * 1.625;
}

.layout__active {
  border-color: #198754 !important;
}

.layout__active > a > span {
  color: #198754 !important;
}

.layout__active > a {
  color: #198754 !important;
}

.layout__mb-5_5 {
  margin-bottom: $unit * 5.5;
}

.layout__w-3 {
  width: $unit * 3;
}
.layout__h-3 {
  height: $unit * 3;
}
.layout__mr3_2 {
  margin-right: $unit * 3.25;
}
.layout__container {
  // width: 920px;
  width: 100%;
}

.layout__pl-70_8 {
  padding-left: $unit * 70.875;
}
.layout__pl-4 {
  padding-left: $unit * 4;
}
.layout__pr-4 {
  padding-right: $unit * 4;
}

.layout__mr-2 {
  margin-right: $unit * 2;
}

.layout__w-40 {
  min-width: $unit * 40;
}
.layout__w-73 {
  min-width: $unit * 73;
}

.layout__p-all-1_5 {
  padding: $unit * 1.5;
}
