.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}

.h-13_5 {
  height: 108px;
}

.ml-9_5 {
  margin-left: 76px;
}

.mr-0 {
  padding-right: 0rem !important;
}
.mr-9_5 {
  margin-right: 76px;
}
