<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">

  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary h-13_5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="ml-9_5" src="./assets/images/logo.png" alt="LOGO"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mr-9_5" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto fs-5">
          <li class="nav-item me-7">
            <a class="nav-link active text-white" aria-current="page" href="series.html">系列鏡框</a>
          </li>
          <li class="nav-item me-7">
            <a class="nav-link text-white" href="store.html">門市據點</a>
          </li>
          <li class="nav-item me-7">
            <a class="nav-link text-white" href="blog.html">部落格</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mr-0" href="qa.html">常見問題</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

  <footer class="layout__footer bg-primary text-white">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center pt-5_5 mb-4_5">
        <ul class="d-flex">
          <li class="mr-6">首頁</li>
          <li class="mr-6">系列鏡框</li>
          <li class="mr-6">門市據點</li>
          <li class="mr-6">部落格</li>
          <li class="mr-6">常見問題</li>
        </ul>
        <ul class="d-flex">
          <li class="mr-4"><a href="#"><img src="./assets/images/icon-fb.svg" alt="FB"></a></li>
          <li class="mr-4"><a href="#"><img src="./assets/images/icon-ig.svg" alt="IG"></a></li>
          <li><a href="#"><img src="./assets/images/icon-line.svg" alt="LINE"></a></li>
        </ul>
      </div>
      <div class="d-flex align-items-center mb-3_75">
        <a href="#" class="pr-2_75"><img class="h-4_5 w-4_5" src="./assets/images/icon-phone.svg" alt="電話icon"></a>
        <h3 class="ma-0 fs-1 lh-1">0800-000-000</h3>
      </div>
      <div class="d-flex border-bottom pb-3 align-items-center">
        <a href="#" class="pr-2_75"><img class="h-4_5 w-4_5" src="./assets/images/icon-mail.svg" alt="Email icon"></a>
        <h3 class="ma-0 fs-1 lh-1">glasses@business.com</h3>
      </div>
      <div class="d-flex justify-content-between pt-4">
        <span>Copyright © 2020 Glasses.All rights reserved.</span>
        <ul class="d-flex">
          <li class="mr-6">隱私權政策</li>
          <li>服務條款</li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>