<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
</head>

<body>
  <div class="d-flex">
    <nav class="bg-primary align-items-start layout__w-37 vh-100">
      <div class="mt-4">
        <a data-aos="fade-down" class="d-flex layout__mb-4 layout__ml-4" href="#"><img
            src="./assets/images/logo-ANSWER.svg" alt="LOGO"></a>
        <ul>
          <li class="layout__mb-1_6 layout__pl-4 border-5 border-start border-primary"><a
              class="text-secondary d-flex layout__p-tb-1" href="#">
              <span class="material-icons layout__mr-2">
                dashboard
              </span>Dashboard</a></li>
          <li class="layout__mb-1_6 layout__pl-4 border-5 border-start border-primary"><a
              class="text-secondary d-flex layout__p-tb-1" href="#">
              <span class="material-icons layout__mr-2">
                question_answer
              </span>Question</a></li>
          <li class="layout__mb-1_6 layout__pl-4 border-5 border-start border-primary layout__active"><a
              class="text-secondary d-flex layout__p-tb-1" href="./assignment.html">
              <span class="material-icons layout__mr-2">
                assignment
              </span>Assignment</a></li>
          <li class="layout__mb-1_6 layout__pl-4 border-5 border-start border-primary"><a
              class="text-secondary d-flex layout__p-tb-1" href="#">
              <span class="material-icons layout__mr-2">
                video_library
              </span>Course</a></li>
          <li class="layout__mb-1_6 layout__pl-4 border-5 border-start border-primary"><a
              class="text-secondary d-flex layout__p-tb-1" href="#">
              <span class="material-icons layout__mr-2">
                group
              </span>Admin</a></li>
          <li class="layout__mb-1_6 layout__pl-4 border-5 border-start border-primary"><a
              class="text-secondary d-flex layout__p-tb-1" href="#">
              <span class="material-icons layout__mr-2">
                settings
              </span>Settings</a></li>
        </ul>
      </div>
      <div class="d-flex position-absolute bottom-0">
        <a href="#" class="mr-2 layout__ml-4 layout__mr-2"><img class="layout__w-5 layout__h-5 rounded-circle"
            src="./assets/images/andychen.jpeg" alt=""></a>
        <h2 class="layout__fs-2">Andy Chen<span
            class="layout__fs-1_75 d-block fw-normal text-gray-600">andy0401@mail.com</span></h2>
      </div>
    </nav>

    <%- contents %>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    once: true,
  });
</script>